body {
    margin: 0;
    padding: 0;
    background: #011627;
    color: #FDFFFC;
}

.map-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    margin-right: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
}

#map {
    position: absolute;
    top: 12em;
    bottom: 0;
    width: 100%;
}


#titleInfo button {
    position: absolute;
    top: 10px;
    left: 10;
}

#legend {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 18px;
    height: 150px;
    margin-bottom: 40px;
    width: 100px;
}

.legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

#sideBar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 1em;
    transition: 0.5s;
}

#openBtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #9C7178;
    color: white;
    padding: 5px 8px;
    border: none;
}

#openBtn:hover {
    background-color: gray;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

.marker {
    background-image: url('/images/mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
